@import "../HyprV/waybar/style/v5-style.css";

window#waybar {
    color: #f1f1f1;
}

tooltip {
    background: rgba(0, 0, 0, 0.4);
}

tooltip * {
    color: white;
}

#custom-power_profile,
#custom-weather,
#custom-myhyprv,
#custom-light_dark,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight,
#taskbar,
#custom-launch_wofi,
#custom-power_btn {
    background: rgba(0, 0, 0, 0.4);
}

#taskbar button:hover {
    background: rgba(255, 255, 255, 0.1);
}

#taskbar button.active {
    background: rgba(255, 255, 255, 0.15);
}

#temperature.critical {
    color: #eba0ac;
}

#custom-power_profile {
    color: #a6e3a1;
}

