@import ".config/HyprV/wofi/style/v5-style.css";

#input {
    color: #1e1e2e;
    background-color: #131313;
}

#inner-box {
    color: #cdd6f4;
}

#outer-box {
    background-color: rgba(0, 0, 0, 0.4); 
}

#img:selected {
    background-color: #89b4fa;
}

#text:selected {
    color: #cdd6f4;
    background-color: #89b4fa;
}

#entry:selected {
    background-color: #89b4fa;
}
